body{
  background: #ecf0f1;
}

.homeImageStyle{
  width: 12em;
}
.home{
width: 100%;
max-height: 520px;
}

.form-horizontal , .form-signin, .form-add-book{
    width:  31.25em;
    margin: 0 auto;
}
span{
  float: right;
}
.navMenu{
  margin-right:0.625em
}

.coverStyle{
  width: 18em;
  margin-top: 2em;
}
