<div class="container">
    <form  class="form-horizontal" role="form">
      <!-- form name -->
      <h1>{{viewName}}</h1>
      <!-- titre -->
      <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Title</label>
          <div class="col-sm-9">
            <input type="text" id="title" placeholder="Book title" class="form-control" ng-model="book.title">
          </div>
      </div>
      <!-- auteur -->
      <div class="form-group">
        <label for="author" class="col-sm-3 control-label">Author</label>
        <div class="col-sm-9">
          <input type="text" id="author" placeholder="Author name" class="form-control" ng-model="book.author">
        </div>
      </div>
      <!-- genre -->
      <div class="form-group">
        <label for="genre" class="col-sm-3 control-label">Genre</label>
        <div class="col-sm-9">
          <input type="text" id="genre" placeholder="genre" class="form-control" ng-model="book.genre">
        </div>
      </div>
      <!-- bouton d'enregistrement -->
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-primary btn-block" ng-click="editBook()">Save</button>
        </div>
      </div>
    </form>
</div>
