<div class="branding"><a ng-href="#/home"></a></div>
<ul>

          <div class="row">
            <div class="col-md-12">
              <nav class="navbar navbar-inverse">
                <div class="navbar-brand"><a href="#/home">Book Store</a></div>
                <ul class="nav navbar-nav">
                  <li><a href="#/show">Books</a></li>
                  <li><a href="#/docum">Documentary</a></li>
                  <!-- <li><a href="#/cart/show">Cart</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right navMenu">
                  <li><a ng-show="!islogged" ng-href="#/register">Register</a></li>
                  <li><a ng-show="!islogged" ng-href="#/login">Login</a></li>
                  <li><a ng-show="islogged" ng-href="#/" ng-click="logout()">Logout</a></li>

                </ul>
              </nav>
            </div>
          </div>
</ul>
</div>
